//body
$body-margin: 0 0 7.0rem;

//home
$home-margin: 1.5rem 0;

//card
$card-max-width: 75%;
$card-text-align: 0 auto;
$card-font-color: #476978;
$card-header-text-color: #B08F2E;

//button
$button-background-color: #B08F2E;
$button-border-color: #b39336;
$button-border-radius: 0;
$button-box-shadow: 0 0.5rem 1rem 0 rgba(10, 10, 10, 0.2);
$button-hover-background-color: #E5B24B;
$button-hover-border-color: #E5B24B;
$button-hover-box-shadow: 0 3rem 3rem -1.25rem rgba(10, 10, 10, 0.1);
